// # 配色を設定するファイル
// * このファイルには、CSSに出力されるものは書かないこと。
// * 配色はそれぞれミックスインとして定義し、主に `_theme.scss` で適切なセレクタに対して割り当てる。

// ## ライトモード
@mixin light-color-scheme {
  // Global
  // 基本（ルート）の配色
  --global-text-color: var(--COLOR--WARM-GRAY-8);
  --global-base-color: var(--COLOR--WARM-GRAY-2);
  --global-border-color: var(--COLOR--WARM-GRAY-4);
  // 選択
  --global-selection-base-color: var(--COLOR--WARM-GRAY-8);
  --global-selection-text-color: var(--COLOR--WARM-GRAY-2);
  // ベースの上に重なる別のベース
  --global-upper-base-color: var(--COLOR--WARM-GRAY-1);
  --global-upper-text-color: var(--COLOR--WARM-GRAY-8);
  --global-upper-border-color: var(--COLOR--WARM-GRAY-3);
  --global-upper-base-focus-color: var(--COLOR--WARM-GRAY-2);
  // 大きな見出し
  --global-heading-text-color: var(--COLOR--WARM-GRAY-8);
  --global-heading-base-color: var(--COLOR--WARM-GRAY-3);
  // 色の暗い領域
  --global-dark-base-color: var(--COLOR--WARM-GRAY-9);
  --global-dark-text-color: var(--COLOR--WARM-GRAY-2);
  // アクセント領域
  --global-accent-base-color: var(--COLOR--WARM-GRAY-9);
  --global-accent-text-color: var(--COLOR--WARM-GRAY-2);
  // リンク文字列の文字色
  --global-link-color: var(--COLOR--BLUE-7);
  // 塗りつぶしカラー
  --global-fill-color: var(--COLOR--GRAY-7);
  // 塗りつぶしカラーに文字が乗るときの文字の色など
  --global-fill-inverse-color: var(--COLOR--WARM-GRAY-2);
  // プライマリーカラー
  --global-primary-color: var(--COLOR--BLUE-7);
  // プライマリーカラーに文字が乗るときの文字の色など
  --global-primary-inverse-color: var(--COLOR--WARM-GRAY-2);
  // セカンダリーカラー
  --global-secondary-color: var(--COLOR--BLUE-5);
  // セカンダリーカラーに文字が乗るときの文字の色など
  --global-secondary-inverse-color: var(--COLOR--WARM-GRAY-2);
}

// ## ダークモード
@mixin dark-color-scheme {
  // Global
  // 基本（ルート）の配色
  --global-text-color: var(--COLOR--WARM-GRAY-2);
  --global-base-color: var(--COLOR--WARM-GRAY-8);
  --global-border-color: var(--COLOR--WARM-GRAY-7);
  // 選択
  --global-selection-base-color: var(--COLOR--BLUE-5);
  --global-selection-text-color: var(--COLOR--WARM-GRAY-2);
  // ベースの上に重なる別のベース
  --global-upper-text-color: var(--COLOR--WHITE);
  --global-upper-base-color: var(--COLOR--WARM-GRAY-7);
  --global-upper-border-color: var(--COLOR--WARM-GRAY-6);
  --global-upper-base-focus-color: var(--COLOR--WARM-GRAY-8);
  // 大きな見出し
  --global-heading-text-color: var(--COLOR--WARM-GRAY-2);
  --global-heading-base-color: var(--COLOR--WARM-GRAY-7);
  // 色の暗い領域
  --global-dark-base-color: var(--COLOR--WARM-GRAY-9);
  --global-dark-text-color: var(--COLOR--WARM-GRAY-2);
  // アクセント領域
  --global-accent-base-color: var(--COLOR--WARM-GRAY-9);
  --global-accent-text-color: var(--COLOR--WARM-GRAY-2);
  // リンク文字列の文字色
  --global-link-color: var(--COLOR--BLUE-2);
  // 塗りつぶしカラー
  --global-fill-color: var(--COLOR--GRAY-9);
  // 塗りつぶしカラーに文字が乗るときの文字の色など
  --global-fill-inverse-color: var(--COLOR--WARM-GRAY-2);
  // プライマリーカラー
  --global-primary-color: var(--COLOR--BLUE-6);
  // プライマリーカラーに文字が乗るときの文字の色など
  --global-primary-inverse-color: var(--COLOR--WARM-GRAY-2);
  // セカンダリーカラー
  --global-secondary-color: var(--COLOR--BLUE-5);
  // セカンダリーカラーに文字が乗るときの文字の色など
  --global-secondary-inverse-color: var(--COLOR--WARM-GRAY-2);
}
