*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  text-rendering: geometricPrecision;
}

ul, ol {
  list-style: none;
}

hr {
  overflow: visible;
  height: 0;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
