<h1 class="page-title">
  <div class="page-title--inner">
    <slot />
  </div>
</h1>

<style lang="scss">
  .page-title {
    font-family: var(--global-display-font-family);
    font-feature-settings: var(--FFS--PROPORTIONAL) 1;
    font-size: var(--page-title-font-size, 2rem);
    font-weight: var(--FONT-WEIGHT--B);
    line-height: 1.25;
    &__inner {
      max-width: var(--page-title-inner-max-width, 1536px);
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
